
<div class="calendar_container">
	<div id="calendar"></div>
</div>
<div class='schedule_container'>
	<div class="schedule">
		<div class="schedule_head">
		</div>
		<div class="schedule_body">
			<div class="hidden times">
			</div>
		</div>
	</div>
</div>


<script>
	var date;
	var time;

	$('#calendar').fullCalendar({
	    header: {
	        left: 'prev',
	        center: 'title today',
	        right: 'next'
	    },
	    body: {

	    }
	})
	<% current_mechanic.jobs.each do |job| %>
		<%if job.appointment_id != nil %>
			<%appointment = Appointment.find(job.appointment_id)%>
			day = $("[data-date=<%=appointment.date%>]")[1];
			$(day).append("<img class='star_img' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzAOsCVW2qxU7twGUNg9zXyaDYeepFAKrrHCyY5OsS3_WMED8Zpg'>")
			<%break%>
		<% end %>
	<% end %>
	
</script>







