
<div class="calendar_container">
	<div id="calendar"></div>
</div>

<div class='schedule_container'>
	<div class="schedule">
		<div class="schedule_head">
		</div>
		<div class="schedule_body">
			<div class="scheduled_times">
				
			</div>
			<div class="hidden times">
				
			</div>
		</div>
	</div>
</div>











