<% time = Time.new %>
<% current_time = time.hour.to_s + time.min.to_s %>

<div class="calendar_container">
	<div id="calendar"></div>
</div>
<div class='schedule_container'>
	<div class="schedule">
		<div class="schedule_head">
		</div>
		<div class="schedule_body">
			<div class="hidden times">
			</div>
		</div>
	</div>
</div>


<script>
	var date;
	var time;

	$('#calendar').fullCalendar({
	    header: {
	        left: 'prev',
	        center: 'title today',
	        right: 'next'
	    },
	    body: {

	    }
	})
	$('.fc-day-top').append('<p style="height: 100px;"></p>')
	<% current_mechanic.jobs.each do |job| %>

		<%if job.appointment_id != nil %>
			<%appointment = Appointment.find(job.appointment_id)%>
			day = $("[data-date=<%=appointment.date%>]")[1];
			$(day).children("p").html("<img class='star_img' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzAOsCVW2qxU7twGUNg9zXyaDYeepFAKrrHCyY5OsS3_WMED8Zpg'>")
			
		<% end %>
	<% end %>
	$('.fc-future').off('click');
	$(document).on('click', '.fc-future', function() {
		future = $('.fc-future');
		today = $('.fc-today');
		today[0].style.backgroundColor = "lightyellow";
		today[1].style.backgroundColor = "lightyellow";
		today[0].style.opacity = "0.9";
		for (var i = 0; i < future.length; i++) {
		    future[i].style.backgroundColor = "#ffffff";
		    future[i].style.opacity = "0.9";

		}
		this.style.backgroundColor = "lightblue"
	    date = this.getAttribute('data-date')
	    $('.schedule_head').html('<h2>' + date + '</h2>')

		$.ajax(
	    {
	      url:"/appointments/new",
	      type:'get',
	      data: {
	      	date: date,
	      }
	    });
	    
	});
	
	
</script>







