
<div class="calendar_container">
	<div id="calendar"></div>
</div>

<div class='schedule_container'>
	<div class="schedule">
		<div class="schedule_head">
		</div>
		<div class="schedule_body">
			<div class="hidden times">
				<ul>
					<li data-time="0000"><span>add</span> 00:00</li>
					<li data-time="0100"><span>add</span> 01:00</li>
					<li data-time="0200"><span>add</span> 02:00</li>
					<li data-time="0300"><span>add</span> 03:00</li>
					<li data-time="0400"><span>add</span> 04:00</li>
					<li data-time="0500"><span>add</span> 05:00</li>
					<li data-time="0600"><span>add</span> 06:00</li>
					<li data-time="0700"><span>add</span> 07:00</li>
					<li data-time="0800"><span>add</span> 08:00</li>
					<li data-time="0900"><span>add</span> 09:00</li>
					<li data-time="1000"><span>add</span> 10:00</li>
					<li data-time="1100"><span>add</span> 11:00</li>
					<li data-time="1200"><span>add</span> 12:00</li>
					<li data-time="1300"><span>add</span> 13:00</li>
					<li data-time="1400"><span>add</span> 14:00</li>
					<li data-time="1500"><span>add</span> 15:00</li>
					<li data-time="1600"><span>add</span> 16:00</li>
					<li data-time="1700"><span>add</span> 17:00</li>
					<li data-time="1800"><span>add</span> 18:00</li>
					<li data-time="1900"><span>add</span> 19:00</li>
					<li data-time="2000"><span>add</span> 20:00</li>
					<li data-time="2100"><span>add</span> 21:00</li>
					<li data-time="2200"><span>add</span> 22:00</li>
					<li data-time="2300"><span>add</span> 23:00</li>
				</ul>
			</div>
		</div>
	</div>
</div>











