
<div class="calendar_container">
	<div id="calendar"></div>
</div>

<div class='schedule_container'>
	<div class="schedule">
		<div class="schedule_head">
		</div>
		<div class="schedule_body">
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function() {
		$('#calendar').fullCalendar({
		    header: {
		        left: 'prev',
		        center: 'title today',
		        right: 'next'
		    },
		    body: {

		    }
		}).on('click', '.fc-future', function() {
			future = $('.fc-future')
			for (var i = 0; i < future.length; i++) {
			    future[i].style.backgroundColor = "#ffffff";
			    future[i].style.opacity = "0.9";
			}
			this.style.backgroundColor = "lightblue"
		    var date = this.getAttribute('data-date')
		    $('.schedule_head').text(date)
		    $('.schedule_body').html()
		});
		$('.fc-today').on('click', function() {
			console.log('today')
		})
	})
</script>