// Place all the styles related to the mechanics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.times, .mechanic_times{
	width: 300px;
	display: inline-block;
}

.selected {
	background-color: lightgreen;	
	cursor: pointer;
}
.unselected {
	cursor: pointer;
	background-color: lightgrey;
	opacity: 0.5;
}
.selected_with_job {
	cursor: pointer;
	background-color: pink;
	color: black;
	opacity: 0.9;
}