// Place all the styles related to the mechanics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.times {
	width: 200px;
	display: inline-block;
}

.selected {
	background-color: lightblue;	
	cursor: pointer;
}
.unselected {
	cursor: pointer;
}