// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0275d8;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
  width: 100%;
}
body {
	height: 900px;
}
.users_info {
	width: 300px;
	height: 300px;
	background-color: lightgrey;
	opacity: 0.9;
}
.vehicles_list {
	position: absolute;
	top:50px;
	width: 100%;
	height: 100%;
	background-color: lightblue;
}
.vehicles_head {
	text-align: center;
	text-decoration: underline;
}
.edit_profile, .add_vehicle {
	position: absolute;
	top:50px;
	right: 30px;
	width: 600px;
	height: 850px;
	background-color: silver;

}
.user_vehicles_list {
	text-align: center;
}
.please_wait {
  display: inline-block;
}
.success {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: url('http://www.iconskid.com/images/38/found-17gt-icons-for-green-check-icon-transparent-38646.png') no-repeat;
  background-size: contain;
}
.already_taken {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: url('http://www.clker.com/cliparts/Q/A/W/c/p/q/small-red-x-mark-md.png')no-repeat;
  background-size: contain;
}
.loading {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: url('http://i.stack.imgur.com/FhHRx.gif');
}






