// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0275d8;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
  width: 100%;
}
.users_info, .mechanics_info {
	width: 300px;
	height: 300px;
	background-color: lightgrey;
	opacity: 0.9;
}
.vehicles_list, .jobs_list {
	position: absolute;
	top:50px;
	width: 100%;
	height: 100%;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  opacity: 0.8;
  background-color: lightgrey;
}
.card-bl {
  background-color: lightgrey;
}
.vehicles_head, .mechanic_jobs_head{
	text-align: center;
	text-decoration: underline;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background: url('');
}
.edit_profile, .add_vehicle, .edit_mechanic_profile, .add_job {
	position: absolute;
	top:20px;
	right: 30px;
	width: 600px;
	height: 1000px;
	background-color: silver;

}
.add_vehicle {
  margin-top: 20px;
}
.user_vehicles_list, .mechanic_jobs_list {
	text-align: center;
}
.please_wait, .mechanic_please_wait {
  display: inline-block;
}
.success {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: picture-url('http://www.iconskid.com/images/38/found-17gt-icons-for-green-check-icon-transparent-38646.png') no-repeat;
  background-size: contain;
}
.already_taken {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: picture-url('http://www.clker.com/cliparts/Q/A/W/c/p/q/small-red-x-mark-md.png')no-repeat;
  background-size: contain;
}
.loading, .mechanic_loading {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: picture-url('http://i.stack.imgur.com/FhHRx.gif');
}

.user_cars_options {
  display: inline-block;
  width: 60px;
}
.user_cars_menue {
}
#map {
  height: 400px;
  width: 100%;
 }

.maps_container {
  border: 2px solid black;
 }
.mechanic_schedule_container {
  background-color: white;
  width: 404px;
  border: 2px solid black;

}
.mechanic_calendar_container {
  background-color: white;
  display: inline-block;
}
 .full_width {
  display: block;
 }
 .mechanic_schedule_body {
  display: inline-block;
  overflow-x: hidden;
  word-wrap: break-word;
  height: 350px;
}
.bottom_buttons {
  border-radius: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: lightblue;
  width: 100px;
  display: inline-block;
}
.dropdown-menu {
  text-align: center;
}
.dropdown-menu-center {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.unavailable_spot {
  background-color: grey;
  cursor: default;
}
.adding_schedule {
  background: white;
  border: 1px solid black;
  z-index: 1000;
}
.contact_mechanic_space {
  width: 900px;
  background-color: lightblue;
}
.adding_elements {
  margin-left: 15%;
}
.effects
{
  position: relative;
}
.effects:before, .effects:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effects:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.users_background {
  min-height: 600px;
  background: url('http://www.akcli-voh.org/wp-content/uploads/2013/10/background2.jpg');
}
.contact_mechanic_button {
  width: 220px;
  font-size: 25px;
  border-radius: 20px;
  color: darkorange;
  margin-left: 70%;
  background-color: lightgreen;
}
.mechanic_appointment_button {
  display: inline-block;
  color: black;
  background-color: #0275d8;
  box-shadow: 0 10px 10px #777;
  border-radius: 10px;
  max-width: 250px;
}
.mechanic_appointment_details {
  height: 0px;
  margin-top: 10px;
  background-color: white;
}
.circle_btn {
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  background-color: silver;
}








