// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0275d8;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
  width: 100%;
}
.users_info {
	width: 300px;
	height: 300px;
	background-color: lightgrey;
	opacity: 0.9;
}
.vehicles_list {
	position: absolute;
	top:50px;
	width: 100%;
	height: 100%;
	background-color: lightblue;
}
.vehicles_head {
	text-align: center;
	text-decoration: underline;
}
.edit_profile, .add_vehicle, .edit_job, .edit_mechanic_profile {
	position: absolute;
	top:50px;
	right: 30px;
	width: 600px;
	height: 1000px;
	background-color: silver;

}
.user_vehicles_list {
	text-align: center;
}
.please_wait, .mechanic_please_wait {
  display: inline-block;
}
.success {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: url('http://www.iconskid.com/images/38/found-17gt-icons-for-green-check-icon-transparent-38646.png') no-repeat;
  background-size: contain;
}
.already_taken {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: url('http://www.clker.com/cliparts/Q/A/W/c/p/q/small-red-x-mark-md.png')no-repeat;
  background-size: contain;
}
.loading, .mechanic_loading {
  display: inline-block;
  height: 31px;
  width: 31px;
  background: url('http://i.stack.imgur.com/FhHRx.gif');
}

.user_cars_options {
  display: inline-block;
  width: 60px;
}
.user_cars_menue {
}
#map {
  height: 400px;
  width: 100%;
 }

 .maps_container {
  border: 2px solid black;
 }
.mechanic_schedule_container {
  position:absolute;
  right: 20px;
  background-color: white;
  width: 404px;
  text-align: center;
  border: 2px solid black;
  margin-top: 90px;
  height: 430px;
  z-index: 1000;

}
.mechanic_calendar_container {
  background-color: white;
  z-index: 1000;
}
 .full_width {
  display: block;
 }
 .mechanic_schedule_body {
  height: 385px;
  overflow-x: hidden;
  word-wrap: break-word;
}
.bottom_buttons {
  border-radius: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: lightblue;
  width: 100px;
  display: inline-block;
}
.dropdown-menu {
  text-align: center;
}
.dropdown-menu-center {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.unavailable_spot {
  background-color: grey;
  cursor: default;
}
.adding_schedule {
  background: white;
  border: 1px solid black;
  z-index: 1000;
}






